sphinx
sphinx-rtd-theme
flask
ujson
flask_security
flask_mail
nltk
sqlalchemy
email_validator
flask_marshmallow
flask_migrate
kmodes
python-dateutil
XlsxWriter
beautifulsoup4
pandas
imap-tools
langdetect
elasticsearch-dsl
